---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleCard from '../../components/ArticleCard.astro';

export async function getStaticPaths() {
	const categories = await getCollection('category');
	return categories.map((category) => ({
		params: { slug: category.slug },
		props: category,
	}));
}

const category = Astro.props;

const posts = (await getCollection('blog'))
	.filter(post => category.slug === post.data.category)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
	<h1>カテゴリ: {category.data.name} の記事一覧</h1>
	{category.data.image && <img width={120} height={120} src={category.data.image} alt="" />}
	<p>{category.data.description}</p>
	<section>
		{
			posts.map((post) => (
				<ArticleCard {...post} />
			))
		}
	</section>
</BaseLayout>
