---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

import markdownToHtml from "zenn-markdown-html";
import 'zenn-content-css';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
// const { Content } = await post.render();

// markdownToHtml関数に素のMarkdown(=post.body)を渡してHTML(=content)として受け取る
const content = markdownToHtml(post.body, {
  embedOrigin: "https://embed.zenn.studio",
});
---

<BlogPost {...post.data}>
	<div class="znc">
		<Fragment set:html={content} />
	</div>
</BlogPost>
