---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleCard from '../../components/ArticleCard.astro';

export async function getStaticPaths() {
	const authors = await getCollection('author');
	return authors.map((author) => ({
		params: { slug: author.slug },
		props: author,
	}));
}

const author = Astro.props;

const posts = (await getCollection('blog'))
	.filter(post => author.slug === post.data.author)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
	<h1>{author.data.name}</h1>
	{author.data.image && <img width={120} height={120} src={author.data.image} alt="" />}
	<p>{author.data.description}</p>
	<h2>{author.data.name} の記事一覧</h2>
	<section>
		{
			posts.map((post) => (
				<ArticleCard {...post} />
			))
		}
	</section>
</BaseLayout>
