---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1 class="text-3xl font-bol m-2">🧑‍🚀 Hello, Astronaut!</h1>
	<p class="m-2">
		このブログ（風の何か）はAstro公式のblogテンプレートをいくつか編集し、自分好みの機能を追加したものです。
		具体的には下のような機能を足しています。
	</p>
	<ul class="m-2 list-inside list-disc">
		<li>記事ごとに著者(Author)のデータを書けるようにした</li>
		<li>著者別の記事一覧ページ(/author/:author_name)を見れるようにした</li>
	</ul>
	<p class="m-2">
		以下はこれからやろうとしていることです。
	</p>
	<ul class="m-2 list-inside list-disc">
		<li>記事ごとにタグを書けるようにする</li>
		<li>記事ごとにメインカテゴリを書けるようにする</li>
		<li>タグ・メインカテゴリごとの記事一覧を見えるようにする</li>
		<li>メインカテゴリは Qiita 風にそれぞれアイキャッチ風の小さい画像を持っている感じに表現する</li>
	</ul>
</BaseLayout>
